body {
    margin: 0;
    padding: 0;
    background-color: rgb(3 114 197) !important;
    color: rgb(0 61 138);
    font-family: 'Arial', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rubik Distressed', sans-serif !important;
  font-weight: normal;
}

h2 {
    font-variant: small-caps;
}

.site-header{
    height: 400px;
    background-image: linear-gradient(to bottom, rgb(94 60 38 / 0.8),
      rgb(0 0 0 / 0.6)), url(../images/banner.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
}

.site-header h1{
    position: absolute;
    bottom: 10%;
    left: 35%;
    color: white;
    font-size: 2rem;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    padding: 1rem 2rem;
    text-align: center;
}

@media (min-width: 750px) {
  .site-header h1 {
    font-size: 3rem;
  }
}

.main-container{
    width: 100%;
    background-color: white;
    box-shadow: 0 0 20px rgb(0 61 138 / 0.4);
}

@media (min-width: 750px) {
  .main-container {
    width: 80%;
    margin: 0 auto;
  }
}

.kategoriak-gombok {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1.5rem 0;
}

.kategoriak-gombok button {
  padding: 0.6rem 1.2rem;
  border-radius: 50px;
  border: none;
  background-color: rgb(0 61 138 / 0.1);
  color: rgb(0 61 138);
  font-weight: bold;
  cursor: pointer;
}

.kategoriak-gombok button.active {
  background-color: rgb(0 61 138);
  color: white;
}

@media (min-width: 750px) {
  .kategoriak-gombok {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.plastic {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  background-color: rgb(0 61 138 / 0.1);
}

.plastic > h2,
.plastic > p {
  grid-column: 1 / -1;
}

.plastic .card {
  width: 100% !important;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card{
    color: rgb(0 61 138);
}

.card h5{
    text-align: center;
}

@media (min-width: 750px) {
  .category-block {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .category-block {
    grid-template-columns: repeat(4, 1fr);
  }
}

.paper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  background-color: white;
}

.paper > h2,
.paper > p {
  grid-column: 1 / -1;
}

.paper .card {
  width: 100% !important;
}